@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AAIB SPAM Protection Portal</h1>
    <a class="nav-link" asp-area="" asp-controller="Reports" asp-action="Index">Take me to Reports</a>
    
</div>
